/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");*/
@font-face {
    font-family: 'Harabara Mais Demo';
    src: url('fonts/HarabaraMaisDemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stellar Light", sans-serif;
}

body {
    min-height: 100vh;
    background: url(images/b1.png) repeat-y;
    background-size: cover;
    scroll-behavior: smooth; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.logo {
    font-size: 50px;
    color: #3ebec1;
    text-decoration: none;
    font-weight: 700;
    font-family: "Harabara Mais Demo", sans-serif;

}

.navbar a {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
    transition: color .5s ease;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 150%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar.scrolled a {
    color: #3ebec1; 
}

.section {
    font-family:"Stellar Light";
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3ebec1; 
}
/*104, 157, 159* BLUE/
/*56, 135, 87, GREEN*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    padding: 50px 20px; /* Adjusted padding */
}

.content-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 1500px;
    width: 100%;
    margin: 0 auto; 
    padding: 0 20px;
}

.text-container {
    max-width: 100%; 
    margin-bottom: -10px;
}

.image-container img {
    max-width: 500px; 
    height:500px; 
    margin-right: -50px;
    padding-top: 30px;
}

#home h1 {
    font-family: 'Harabara Mais Demo', Arial, sans-serif;
    max-width: 700px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5px; 
}

#home p {
    margin-bottom: 10px; 
    color: #ffffff; 
    font-size: 20px; 
}


.content-container {
    max-width: 1100px; 
    width: 100%;
    padding-left: 0px; 
    align-items: center;
    box-sizing: border-box; 
}


.get-tickets-btn {
    font-family: "Stellar Regular";
    margin-top: 50px;
    display: inline-block;
    background-color: #3ebec1; 
    color: white;
    padding: 15px 30px; 
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    text-align: center;
}

.get-tickets-btn:hover {
    background-color: #35a5a1; 
}


.partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500pt;
}

.partners div {
    margin: 50px;
}

.partners img {
    width: 200px; 
    height: auto;
}

.industry-partner img {
    width: 100px; 
    padding-left: 20px; 
}

.footer {
    background-color: #232323;
    color: #ffffff;
    padding: 20px; /* Adjust padding for compactness */
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around; /* Adjust based on content */
    align-items: center;
    flex-wrap: wrap; /* Wrap content on smaller screens */
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info p,
.contact-info a {
    margin: 5px 0; /* Reduced margin */
    color: inherit; /* Ensures text and links are white */
}

.contact-info a:hover {
    text-decoration: underline;
}

.copyright p{
    font-family: "Harabara Mais Demo";
    margin-right: 200pt;
}



@media (max-width: 768px) {
    .header {
        padding: 20px; 
    }

    .logo {
        font-size: 30px; 
    }

    .navbar a {
        margin-left: 20px; 
        font-size: 16px; 
    }

    .section {
        padding: 20px; 
    }

    #home .content-container {
        flex-direction: column; 
        padding: 20px; 
    }

    #home .text-container, #home .image-container {
        max-width: 100%; 
        margin-bottom: 20px; 
    }

    .image-container {
        order: -1; 
    }

    #home .image-container img {
        max-width: 100%; 
        height: auto; 
        margin-right: 0; 
        margin-bottom: 20px;
    }

    #home h1 {
        font-size: 30px; 
        margin-bottom: 10px; 
    }

    #home p {
        font-size: 16px; 
    }

    .get-tickets-btn {
        padding: 10px 20px; 
        font-size: 18px; 
        margin-top: 30px; 
    }

    .footer-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
    .contact-info, .copyright {
        margin: 10px 0; /* Add some margin on top and bottom when stacked */
    }

    
}